<section fxLayout="column" fxLayoutAlign="center center" fxFlex="70" fxFlexOffset="15">
    <div style="margin-top: 3%">
        <h1 class="title">{{ mode == 'create' ? 'Crear Viaje' :
            mode == 'edit' ? 'Editar Viaje' :
            mode == 'view' ? 'Ver Viaje' : null}}
        </h1>
    </div>
    <mat-divider></mat-divider>
    <!-- Inicio Form-->
    <div class="div-container" style="margin-top: 3%;" fxLayout="row" fxLayoutAlign="space-evenly start">
        <form autocomplete="off" [formGroup]="miFormularioViaje">
            <div fxLayout="column" fxLayoutGap="20px">
                <!-- Campo Día del Viaje -->
                <div *ngIf="miFormularioViaje.value.fechaDeViaje != ''">
                    <mat-form-field appearance="fill">
                        <mat-label>Día</mat-label>
                        <input formControlName="dia" matInput type="text" value="Aca va la fecha">
                    </mat-form-field>
                </div>

                <!-- Campo Seleccionar Fecha -->
                <div>
                    <div>
                        <span error-msg [valido]="!tieneError('fechaDeViaje')">Este campo es requerido.</span>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione una Fecha</mat-label>
                        <input formControlName="fechaDeViaje" (dateChange)="dateChange($event)" matInput
                            [matDatepicker]="picker">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Campo Ayudante -->
                <div>
                    <div>
                        <span error-msg [valido]="!tieneError('ayudante')">Este campo es requerido.</span>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Ingrese nombre de Ayudante</mat-label>
                        <input formControlName="ayudante" matInput type="text">
                    </mat-form-field>

                </div>

                <!-- Campo Zona -->
                <div>
                    <div>
                        <span error-msg [valido]="!tieneError('zona')">Este campo es requerido.</span>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Ingrese nombre de Zona</mat-label>
                        <input formControlName="zona" matInput type="text">
                    </mat-form-field>

                </div>

                <!-- Campo Nombre De Reparto -->
                <div *ngIf="miFormularioViaje.get('repartoNombre')?.value != ''">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre De Reparto</mat-label>
                        <input formControlName="repartoNombre" matInput type="text">
                    </mat-form-field>
                </div>

                <!-- Campo Ganancia Fija -->
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Ganancia Fija</mat-label>
                        <input formControlName="gananciaFija" matInput type="number">
                    </mat-form-field>
                </div>

                <!-- Campo Comision 1,70 -->
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Comision 1,70%</mat-label>
                        <input formControlName="comision170" matInput type="number">
                    </mat-form-field>
                </div>

                <!-- Campo Comision 1,50 -->
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Comision 1,50%</mat-label>
                        <input formControlName="comision150" matInput type="number">
                    </mat-form-field>
                </div>

                <!-- Campo Comision 1,25 -->
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Comision 1,25%</mat-label>
                        <input formControlName="comision125" matInput type="number">
                    </mat-form-field>
                </div>

                <!-- Campo Total de Viaje -->
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Total de Viaje</mat-label>
                        <input formControlName="totalViaje" matInput type="number">
                    </mat-form-field>
                </div>
            </div>

        </form>

        <!-- Mensaje y Card para crear Reparto -->
        <div>
            <div *ngIf="isCrearReparto" style="text-align:center" [ngClass]="repartoCreado ? 'reparto-message-info-success' : 
            !repartoCreado ? 'reparto-message-info' : null">
                <h1>
                    {{ !repartoCreado ? 'OOPS! TODAVIA NO HAY REPARTOS INGRESADOS' : 'EL REPARTO FUE CREADO CON ÉXITO' }}
                    <span style="vertical-align: middle;" class="material-icons">
                        {{ !repartoCreado ? 'warning' : 'done' }}
                    </span>
                </h1>
                <p>{{ !repartoCreado ? 'DEBE CREAR UN REPARTO PARA PODER CONTINUAR' : 'El Viaje ya tiene un Reparto asociado' }}</p>
                <br>
                <img src="{{ !repartoCreado ? 'assets/reparto.png' : 'assets/success-reparto.png' }}">
                <h3 *ngIf="!repartoCreado">Haga click aquí
                    <button style="margin: 3px;" mat-raised-button color="primary" (click)="redirectCrearReparto()">
                        Crear Reparto
                    </button>
                    para agregar un Reparto al Viaje.
                </h3>
                <h3 *ngIf="repartoCreado">Haga click aquí
                    <button style="margin: 3px;" mat-raised-button color='primary' (click)="redirectCrearReparto()">
                        Rehacer Reparto
                    </button>
                    para rehacer el Reparto creado.
                </h3>
            </div>
        </div>
        <div *ngIf="!isCrearReparto">
            <app-create-reparto (booleanEvent)="receiveBoolean($event)" (messageEvent)="receiveMessage($event)">
            </app-create-reparto>
        </div>
    </div>
    <div class="div-container" style="margin-top: 2%;" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div *ngIf="repartoCreado && miFormularioViaje.valid">
            <button mat-raised-button color="primary"  (click)="guardar()">
                Guardar
            </button>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="volverListado()">
                Volver al Listado
            </button>
        </div>  
    </div>
</section>